

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}

#wrapper {
	max-width: 940px;
	margin: 0 auto;
	padding: 0 5%;
}

#headerphoto {
	margin: 0 0 0 0;
	padding: 0;
	width: 100%;
}

#headerphoto img {
	max-height: 175px;
	width: 100%;
}

#logo {
	text-align: center;
	margin: 0;
	font-family: georgia, serif;
	text-shadow: 0px 0px 20px black;
}

#navigation li {
	width: auto;
	margin: 0 10px;
	padding: 0;
	display: inline-block;
	font-family: georgia, serif;
	text-align: center;
	list-style: none;
	font-size: 24px;
}

#years li{
	width: auto;
	margin: 0 auto 50px;
	padding: 0;
	display: inline-block;

	text-align: center;
	list-style: none;
	font-size: 17px;
}

#ixclock {
	float: right;
	padding: 10px;
	width: 100%;
}

#clock {
	float: right;
	padding: 10px;
	width: 100%;
}
#vegasphoto {
	margin: 0 0 15px 0;
	padding: 5px 0 0 0;
	width: 100%;
	height: 90%;
}


h1 {
	color: #fff;
	font-size: 60px;
	padding: 0;
	}

nav {
	background: transparent;
	list-style: none;
	text-align: center;
	}

nav a, nav a:visited{
	color: white;
}

nav a.selected, nav a:hover {
	color: #ffa500;
}

nav a {
	font-weight: normal;
	padding: 15px 5px;
}
/*********************** 
          body
************************/
body {
	background-color: #d0d69f;
	background-image: url('manwkend_pics/bballfloor11.jpg');
	background-size: auto;
	background-repeat: no-repeat;
	background-position: center;
}

section {
	font-size: 1.5em;
	font-family: georgia, serif;
	margin-top: 50px;
	padding-top: 5px;
	padding-left: 25px;
	padding-bottom: 5px;
  	}

/*********************** 
          Footer
************************/
footer {
	font-size: 1em;
	text-align: center;
	clear: both;
	padding-top: 50px;
	color: #fff;
}

.social-icon {
	width: 50px;
	height: 50px;
	margin: 0 5px;
	padding: 0;
}

#contact {
	font-size: 1em;
	color: white;
	padding: 0;
}

#manwkend {
	color: white;
	font-size: 1em;
	padding: 0;
}